@import "_constant";

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1005;
  transition: all ease 0.4s;
  opacity: 0;
  .modal-content {
    max-height: 90%;
    min-width: 700px;
    max-width: 100%;
    margin-top: -25%;
    transition: all ease 0.4s;
  }
  &.in {
    opacity: 1;
    .modal-content {
      margin-top: 0;
    }
  }
  &.small {
    .modal-content {
      min-width: 450px;
    }
  }
  &.large {
    .modal-content {
      width: 80%;
    }
  }
}